# Set-up
sudo: false

language: c

# Cache builds
cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal
  - $HOME/.stack

# Build matrix configuration
matrix:
  include:
  - env: RESOLVER="lts-3"
    addons: {apt: {packages: [ghc-7.10.2], sources: [hvr-ghc]}}
  - env: RESOLVER="lts-4"
    addons: {apt: {packages: [ghc-7.10.3], sources: [hvr-ghc]}}
  - env: RESOLVER="lts-5"
    addons: {apt: {packages: [ghc-7.10.3], sources: [hvr-ghc]}}
  - env: RESOLVER="lts-6"
    addons: {apt: {packages: [ghc-7.10.3], sources: [hvr-ghc]}}
  - env:
    - RESOLVER="nightly"
    # dejafu-0.2 is not ghc-8 compatible.
    - SKIP_OLD_DEJAFU=1
    addons: {apt: {packages: [libgmp-dev]}}
  allow_failures:
  - env:
    - RESOLVER="nightly"
    - SKIP_OLD_DEJAFU=1

# Download and unpack the stack executable
before_install:
- export PATH=/opt/ghc/$GHCVER/bin:$HOME/.local/bin:$PATH
- mkdir -p ~/.local/bin
- curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

# Run tests
script:
- ./test-build.sh
